@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-text-base : 71,69,84; /* #474554*/
        --color-text-muted :206,208,214;  /* #efefef*/
        --color-text-inverted : 228,207,186;  /* #E4CFBA*/
        --color-fill :239,239,239; /* #CED0D6*/
        --color-button-accent : 71,69,84;   /* #324B4C*/
        --color-button-accent-hover : 39,63,65;  /* #273F41*/
        --color-button-muted : 50,75,76 ; /*  */

    }
    @font-face {
        font-family: "Tajawal-Bold";
        src: url(assets/fonts/Tajawal-Bold.ttf);
    }
    @font-face {
        font-family: "Tajawal-Black";
        src: url(assets/fonts/Tajawal-Black.ttf);
    }
    @font-face {
        font-family: "Tajawal-Regular";
        src: url(assets/fonts/Tajawal-Regular.ttf);
    }
    @font-face {
        font-family: "Tajawal-ExtraBold";
        src: url(assets/fonts/Tajawal-ExtraBold.ttf);
    }
    @font-face {
        font-family: "Tajawal-Light";
        src: url(assets/fonts/Tajawal-Light.ttf);
    }
}

.showcase{
    background-image: url('assets/images/showcase.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}